*{
    margin: 0;
    padding: 0;
    font-size:10px;
}
.bar{
    height: 5vh;
    width: 99vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar>p{
    color: rgba(244, 240, 240, 0.527);
    font-size: 8px;
}
.bar span{
    color: white;
}
.navbar{
    height: 12vh;
    width: 99vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(26, 25, 25, 0.637);
}
.logoContainer{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logoContainer>img{
    width: 30px;
    height: 30px;
}
.navbarList{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbarList>button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
}